<div class="contact" id="contact">
    <div class="contact-head">
        <h2 class="c-h2">CONTACT</h2>
        <p>Get in Touch <span></span></p>
    </div>
    <div class="contact-content">
        <div class="contact-inputs">
            <h2>SEND US A NOTE</h2>
            <div class="c-input">
                <input type="text" name="name" placeholder="Name" id="name" required>
                <input type="email" name="email" placeholder="Email" id="email" required>
                <textarea type="email" name="email" placeholder="Tell us more about your needs..." id="message"
                    required></textarea>
                <a routerLink="" class="main-btn">Send Message</a>
            </div>
        </div>
        <div class="contact-list">
            <h2>ADDRESS</h2>
            <P>4th Floor, Plot No.22,
                145 Murphy Canyon Rd.
                San Diego CA 2028</P>
            <p class="c-logos" style="margin-bottom:5px"><i class="fas fa-phone"></i> (060) 444 434 444</p>
            <p class="c-logos" style="margin-bottom:5px"><i class="fas fa-fax"></i> (060) 555 545 555</p>
            <p class="c-logos"><i class="fas fa-envelope"></i> chat@simone.com</p>
            <h2>FOLLOW ME</h2>
        </div>
    </div>
</div>